*,
::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: sans-serif;
}

.container {
	width: 100%;
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.email-list {
	display: flex;
	flex-flow: column;
	font-size: 1rem;
	line-height: 1.5rem;
	align-items: center;
}

.email-button {
	border: 0;
	outline: none;
	cursor: pointer;
	color: #f0f0f0;
	font-size: 0.875rem;
	line-height: 1.5rem;
	background: #222222;
	letter-spacing: 0.02rem;
	border-radius: 0.125rem;
	padding: 0.25rem 0.75rem;

	position: fixed;
	top: 2rem;
	right: 4rem;
}

.loader {
	width: 24px;
	height: 24px;
	border-radius: 99999px;
	border: 3px solid #dddddd;
	border-right-color: #0089d2;
	animation: spin 0.5s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}
